# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log

# nodemodules
node_modules/

*.log
*.gz
.env
package-lock.json
server-logs/*.json
photoProducts/*.gif
photoProducts/*.png
photoProducts/*.jpg
photoProducts/*.jpeg